.hidden {
    display: none;
}

.mainButton {
    width: 350px;
    height: 100px;
    font-size: 20px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 400px;
    font-size: 15px;
}

.action {
    width: 150px;
    height: 30px;
    font-size: 15px;
}